<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name='woocommerce-mercadopago'>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./includes</directory>
			<directory suffix=".php">./templates</directory>
			<file>./woocommerce-mercadopago.php</file>
		</whitelist>
	</filter>
</phpunit>
