.mp-card-info {
	display: flex;
}
.mp-alert-color {
	width: 6px;
	height: 121px;
	background: #009ee3;
	border-radius: 6px 0 0 6px;
}
.mp-card-body {
	display: flex;
	align-items: flex-start;
	padding: 12px 16px 0px 0px;
	width: 512px;
	background: rgba(0, 0, 0, 0.04);
	border-radius: 0 6px 6px 0;
}
.mp-badge {
	width: 16px;
	height: 16px;
}
.mp-icon-badge {
	background: url(../../images/icon-tip.png) 98% 50% no-repeat transparent;
}
.mp-text-title {
	font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica,
		"Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	color: rgba(0, 0, 0, 0.9);
	margin: 4px 0px;
}
.mp-text-subtitle {
	font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica,
		"Roboto", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0, 0, 0, 0.9);
	margin: 4px 0px;
}
.mp-button {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	border: none;
	text-align: center;
	padding: 9px 12px 7px;
	background: #009ee3;
	border-radius: 5px;
	margin: 15px 0px 15px 0px;
	cursor: pointer;
	transition: box-shadow 0.25s ease-out, background-color 0.2s ease-out;
	box-shadow: 0 0 0 0 #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 9px 12px 7px;
}
