.mp-settings-header {
	margin: 33px 56px 16px 43px;
}
.mp-settings-header img {
	width: 100%;
	border-radius: 100px 100px 100px 0px;
}
.mp-settings-header p {
	position: absolute;
	top: 180px;
	font-family: Proxima Nova;
	font-size: 32px;
	line-height: 36px;
	color: #ffffff;
	flex: none;
	order: 2;
	flex-grow: 0;
	margin: 16px 0px 0px 70px;
}
.mp-container {
	display: flex; 
}
.mp-block {
	padding: 30px;
	background-color: #FFFFFF;
	margin-right: 16px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
}
.mp-block:last-child{margin-right: 0;}
.mp-block:nth-child(1){
	background-color:unset; 
	flex:1; 
	margin-left: 43px;
	flex-direction: column; 
	box-shadow: unset;
}
.mp-block:nth-child(2){ 
	flex:2;
}
.mp-block:nth-child(3){ 
	flex: 2; 
	margin-right: 56px;
}
.mp-block h2{
	color: rgba(0, 0, 0, 0.9);
	margin-top: 0;
}
.mp-block p{
	font-family: &quot;Proxima Nova&quot;, _apple_system, &quot;Helvetica Neue&quot;, Helvetica, Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: rgba(0, 0, 0, 0.55);
}
.mp-block p span{
	font-weight: 800;
}
.mp-inner-container{
	display: flex; 
	flex-direction: row;
}
.mp-inner-container div:nth-child(1){
	padding-right: 10px; 
	flex: 1; margin: 0; 
	padding:0;
	display: flex; 
	flex-direction:row;
}
.mp-inner-container div:nth-child(2){
	padding-left: 10px; 
	flex: 1; 
	margin: 0; 
	padding:0;
	display: flex; 
	flex-direction:row-reverse;
}
.mp-inner-container div p{
	margin: 0; 
	padding:0;}
.mp-inner-container div h4{
	margin: 0; 
	padding-right:5px;}
.mp-inner-container-settings{
	display:block; 
	flex-direction: column;
}
.mp-button {
	/* Auto Layout */
	color: white;
	border: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 9px 12px 7px;

	position: static;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;

	/* Accent/andes-blue-mp-500 */

	background: #009EE3;
	border-radius: 5px;

	/* Inside Auto Layout */

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 0px 0px;
}

.mp-button:nth-child(2){
	background: rgba(71, 154, 209, 0,15);
	color: rgba(0, 158, 227, 1);
}
.mp-credential-input-success {
	background: url("../../images/icon-success.png") 98% 50% no-repeat transparent;
	padding-right: 30px !important;
}
.mp-icon {
	width: 15.6px;
	height: 15.6px;
}
.mp-credential-input-info {
	background: url("../../images/icon_shape.png") 98% 50% no-repeat transparent;
	padding-right: 30px !important;
}